// Variables _____________________________________________

$dark: #0f0f0f
$white: #ffffff


$brandon: brandon-grotesque
$regular: 400
$bold: 700
$black: 900

// Resets _____________________________________________

*, *:before, *:after 
  margin: 0
  padding: 0
  border: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary 
  display: block



// Header _____________________________________________

html 
  background: $dark
  color: #ffffff

header 
  width: 80%
  margin: 0 50%
  position: absolute
  z-index: 1000
  right: -40%
  top: 100px

  
  h1
    font-family: $brandon
    font-font-weight: $black
    font-size: 60px
    float: left
    letter-spacing: 1px

nav
  float: right
  margin-top: 21px

  
  ul
    font-family: $brandon
    font-size: 30px
    font-weight: $bold
    list-type: none
    letter-spacing: 1px
    
    li
      display: inline
      
    li:first-child
      margin-right: 40px

    li:last-child
      margin-left: 40px

    a:link,  a:visited, a:hover, a:active  
      color: #fff
      opacity: 0.2
      text-decoration: none

    a.active
      color: #fff !important
      opacity: 1

// Home _____________________________________________

main
  width: 100%
  height: 100%
  margin: 0 auto
  text-align: center


table.projects
  width: 80%
  font-family: $brandon
  margin: 315px auto 0 auto
  text-align: left
  clear: both
  tr
    line-height: 30px
    vertical-align: text-top
    padding-bottom: 60px

    a:link,  a:visited, a:hover,  a:active  
      color: #ffffff
      text-decoration: none
    th
      text-align: left
      font-weight: $bold
      text-transform: uppercase
      font-size: 15px
      line-height: 20px 
      opacity: 0.3
      padding-bottom: 25px
    td
      font-size: 25px
      padding: 0 20px 60px 0
    td:last-child
      padding: 0 0 60px 20px
    .td-description
      font-size: 25px
      margin: 20px


.margin-row
  text-align: right

.row-year
  text-align: right
  padding-right: 20px


// Project _____________________________________________

article
  section
    text-align: center
    width: 100%
    height: auto
    overflow: auto
    min-height: 900px
    h1
      color: $white
      font-family: $brandon
      font-weight: $bold
      font-size: 100px
      line-height: 91px
      margin: 200px auto 30px auto
      clear: both

    p
      color: $white
      font-family: $brandon
      font-weight: $regular
      font-size: 30px
      max-width: 690px
      margin: 0 auto
      line-height: 40px

    img
      width: 80%
      margin: 50px 0 0 0
      vertical-align: bottom


  .case
    width: 100%
    background: #F7F7F7
    padding-bottom: 100px

    img
      width: auto
    img.two
      float: left



    
    table.details
      color: #000000
      margin: 0 auto
      font-family: $brandon
      font-weight: $regular
      font-size: 18px


      tr
        margin: 0 0 10px 0
        padding-bottom: 20px

        th
          text-align: right
          padding-right: 5px 
          
        td
          text-align: left
          padding-left: 5px
        
          



   



// Footer _____________________________________________

    width: 80%;
    font-family: brandon-grotesque;
    margin: 315px auto 0 auto;
footer
  position: fixed
  width: auto
  z-index: 3000
  height: 30px
  bottom: 20px
  right: 10%


  ul
    list-type: none
    
    li
      display: inline
      font-family: $brandon
      font-weight: $bold
      font-size: 15px
      color: #fff
    
    li:first-child
      margin: 0 12px 0 0
    
    li:last-child
      margin: 0 0 0 12px

    a:link,  a:visited, a:active  
      color: $white 
      text-decoration: none
      display: inline-block
      border-bottom: solid 2px #ffffff
      height: 25px

      transition-property: height
      transition-duration: 0.2s
      transition-timing-function: easy-ease

    a:hover
      height: 22px

// Page Transitions _____________________________________________


@import mixins
@import animations

.fadein
  +animation-name(fadein)
  +animation-duration(0.5s)
  +animation-timing-function(ease-in-out)

.fadeinup
  +animation-name(fadeinup)
  +animation-duration(0.5s)
  +animation-timing-function(ease-out)
  +animation-delay(0.3s)

.is-exiting
  +animation-name(fadeout)
  +animation-duration(0.5s)
  +animation-timing-function(ease-out)
  +animation-delay(0.3s)





     


